  <div class="container">
    <div class="spacer"><span>Spacer</span></div>
    <mat-card class="mt-4">
      <mat-spinner *ngIf="isLoading" class="pd-4"></mat-spinner>
      <form
        (submit)="onSignup(signupForm)"
        #signupForm="ngForm"
        *ngIf="!isLoading"
      >
      <div *ngIf="error" class="alert alert-danger" role="alert">
        There is account with this email address. Please Login or try with another.
      </div>
        <mat-form-field>
          <input
            matInput
            name="username"
            ngModel
            type="text"
            placeholder="Your name"
            #userInput="ngModel"
            required
            minlength="3"
          />
          <mat-error *ngIf="userInput.invalid"
            >Username must have at least 3 characters</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            name="email"
            ngModel
            type="email"
            placeholder="E-Mail"
            #emailInput="ngModel"
            required
            email
          />
          <mat-error *ngIf="emailInput.invalid"
            >Please enter a valid email.</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            type="password"
            name="password"
            ngModel
            #passwordInput="ngModel"
            [(ngModel)]="password"
            matInput
            placeholder="Password"            
            required
            minlength="6"
            (ngModelChange) = "resetMatch()"
          />
          <mat-error *ngIf="passwordInput.invalid"
            >Password must have at least 6 characters.</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            type="password"
            name="passwordConfirm"
            ngModel
            #passwordConfirmInput = "ngModel"
            [(ngModel)]="passwordConfirm"
            matInput
            placeholder="Confirm Password"
            required
            minlength="6"
            (ngModelChange) = "resetMatch()"
          />
          <mat-error *ngIf="passwordConfirmInput.invalid"
            >Password must have at least 6 characters.</mat-error
          >
        </mat-form-field>
        <div class="role-picker">
          <p>Pick your role</p>
          <mat-radio-group [(ngModel)]="role" [ngModelOptions]="{standalone: true}" aria-label="Pick your role">
            <mat-radio-button color = "primary" class="mr-4" value="parent">Parent</mat-radio-button>
            <mat-radio-button color = "primary" value="children">Children</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="!passwordMatch" class="mb-1">Passwords are not the same!</mat-error>
        </div>
        <div *ngIf="noRole" class="alert alert-danger" role="alert">
          Pick your role!
        </div>
        
        <button
          mat-raised-button
          color="accent"
          type="submit"
          *ngIf="!isLoading"
        >
          Signup
        </button>
      </form>
    </mat-card>
  </div>
