<nav>
  <ul class="side-nav">
    <li class="side-nav-item">
      <a
        class="side-nav-link"
        mat-button
        routerLink="family"
        routerLinkActive="mat-accent"
        >Family</a
      >
    </li>
    <li class="side-nav-item">
      <a
        class="side-nav-link"
        mat-button
        routerLink="test"
        routerLinkActive="mat-accent"
        >Calendar</a
      >
    </li>
    <li class="side-nav-item">
      <a
        class="side-nav-link"
        mat-button
        routerLink="/login"
        routerLinkActive="mat-accent"
        >Lists</a
      >
    </li>
    <!-- <li>
          <a mat-button routerLink="/signup" routerLinkActive="mat-accent"
        >Signup</a
      >
    </li>
    <li>
      <button
        class="btn-white"
        mat-button
      >
        Logout
      </button>
    </li> -->
  </ul>
</nav>
