nav {
  /* flex: 0 0 18%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-nav {
  list-style: none;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-left: 0;
  padding-left: 0;
}

.side-nav-item {
  position: relative;
  margin-bottom: 0.5rem;
}

.side-nav-link:link,
.side-nav-link:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1.5rem 0rem;
  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;
}
