
.side-nav {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  margin-left: 0;
  padding-left: 0;
  flex-direction: row;
  justify-content: space-evenly;
}

.side-nav-item {
  margin-bottom: 0.5rem;
}

.side-nav-link:link,
.side-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  padding: 1.5rem 2rem;
  z-index: 10;
  letter-spacing: 0.3rem;
  align-items: center;
  color: #44d542;
  transition: all 0.2s;
}

.side-nav-link:hover {
  border-bottom: 3px solid #44d540;
}

.link-active {
  border-bottom: 3px solid #44d540;
}
