<nav>
  <ul class="side-nav">
    <li class="side-nav-item">
      <a
        class="side-nav-link"
        routerLink="family"
        routerLinkActive="link-active"
        >Family</a
      >
    </li>
    <li class="side-nav-item">
      <a
        class="side-nav-link"
        routerLink="calendar"
        routerLinkActive="link-active"
        >Calendar</a
      >
    </li>
    <li class="side-nav-item">
      <a
        class="side-nav-link"
        routerLink="lists"
        routerLinkActive="link-active"
        >Lists</a
      >
    </li>
  </ul>
</nav>
