
.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 5rem;
  }
  
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 0.8rem;
    margin-bottom: 2rem;
  }
  
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
  }
  
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .btn,
  .btn:link,
  btn:visited {
    /* text-transform: uppercase; */
    text-decoration: none;
    padding: 2rem 6rem;
    display: inline-block;
    border-radius: 3rem;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    margin: 0 2rem;
  }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black, 0.2);
  }
  .btn:active,
  .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
  }
  
  .btn--white {
    background-color: #fff;
    color: #333;
  }
  