.background {
  height: 100vh;
  /* background-image: url(../img/cover-photo.jpg); */
  background-image: linear-gradient(
      to right,
      rgba(101, 227, 98, 0.5),
      rgba(52, 222, 47, 0.5)
    ),
    url(./img/cover-photo.jpg);
  background-position: top;
  background-size: cover;
  position: relative;
}
