ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    letter-spacing: 0.3rem;
    font-weight: 400;
    font-size: 2rem;
  }
  
  .spacer {
    flex: 1 1 auto;
  }


  .btn-white{
    color: #fff;
  }
.mat-toolbar.mat-primary {
  background: linear-gradient(
    to right,
    rgba(219, 31, 65, 1.0),
    rgba(237, 0, 43, 1.0)
  );
    color: #fff;
    padding: 0;
  }
  button {
    outline: none;
  }
  