ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }


  .btn-white{
    color: #fff;
  }
  mat-toolbar {
      padding: 0;
  }
  button {
    outline: none;
  }
  