.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.family-name {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: .5rem;
  text-align: center;

}

.member{
  font-size: 2rem;
}

.users {
  background-color: #f2f2f2;
}

.token {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 1rem;
  margin-top: 5rem;
}

.token-heading {
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
  color: #2dc42b;
}