<!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
<mat-card>
  <div class="row">
    <div class="col-sm-12 clear-padding">
      <app-smallheader></app-smallheader>
    </div>
  </div>
  <div *ngIf="hasFamily" class="row menu-all">
    <div class="col-sm-2 menu">
      <app-menu></app-menu>
    </div>
    <div class="col-sm-10 test"><router-outlet></router-outlet></div>
  </div>
  <div *ngIf="!hasFamily" class="row menu-all">
    <div class="col-sm-12 test"><router-outlet></router-outlet></div>
  </div>
</mat-card>
