 mat-card {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #faf9f9;
  box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
  min-height: 50rem;
  padding: 0 1.5rem;
  max-height: 80rem;
}
.menu {
  background-color: #2dc42b;
}
.test {
  height: 60rem;
  padding: 1rem 1.5rem;
}
.clear-padding {
  padding: 0;
}
