mat-card {
  /* max-width: 120rem;
  margin: 8rem auto; */
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  padding: 0 1.5rem;
}
.menu {
  /* background: linear-gradient(
    to bottom,
    rgba(219, 31, 65, 1.0),
    rgba(237, 0, 43, 1.0)
  ); */
  margin: 2rem 0;
}
.main {
  min-height: 100vh;
  padding: 1rem 1.5rem;
}
.clear-padding {
  padding: 0;
}
